@model IEnumerable<MiniOglasnikZaBesplatneStvariMvc.Models.ItemTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Item type list</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IditemType }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IditemType }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
