@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>  

<div class="text-center">
    <p>
        Želite osloboditi prostor u svom domu i pomoći nekome tko bi mogao iskoristiti ono što vama više ne treba? Na pravom ste mjestu!
    </p>
</div>

